<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homeseek.map.mapper.MapMapper">

    <select id="findEstateByName" resultType="com.homeseek.map.dto.AptDto">
        SELECT
            hi.apt_seq AS aptSeq,
            hi.apt_nm AS aptName,
            dc.sido_name AS sidoName,
            dc.gugun_name AS gugunName,
            dc.dong_name AS dongName,
            hi.build_year AS buildYear,
            hi.latitude AS latitude,
            hi.longitude AS longitude
        FROM
            houseinfos hi
                JOIN dongcodes dc ON CONCAT(hi.sgg_cd, hi.umd_cd) = dc.dong_code
        WHERE
            hi.apt_nm LIKE CONCAT('%', #{keyword}, '%')
          AND hi.latitude IS NOT NULL
          AND hi.longitude IS NOT NULL
            LIMIT 50
    </select>

    <select id="findDongNames" resultType="com.homeseek.map.dto.DongDto">
        SELECT
        al.dong AS dongName,
        MIN(dc.dong_code) AS dongCode,
        MIN(al.latitude) AS latitude,
        MIN(al.longitude) AS longitude
        FROM
        (SELECT dong_code, dong_name
        FROM dongcodes
        WHERE dong_name IS NOT NULL
        AND sido_name = #{si}
        AND gugun_name = #{gu}) dc,
        area_location al
        WHERE
        al.si = #{si}
        AND al.gu = #{gu}
        AND al.latitude IS NOT NULL
        AND al.longitude IS NOT NULL
        AND (
        (CHAR_LENGTH(dc.dong_name) > 2 AND al.dong LIKE CONCAT(LEFT(dc.dong_name, 2), '%', RIGHT(dc.dong_name, 1)))
        OR
        (CHAR_LENGTH(dc.dong_name) &lt;= 2 AND al.dong LIKE CONCAT(LEFT(dc.dong_name, 1), '%', RIGHT(dc.dong_name, 1)))
        )
        GROUP BY
        al.dong;

    </select>

    <select id="findDongNamesSe" resultType="com.homeseek.map.dto.DongDto">
        SELECT
        al.dong AS dongName,
        MIN(dc.dong_code) AS dongCode,
        MIN(al.latitude) AS latitude,
        MIN(al.longitude) AS longitude
        FROM
        (SELECT dong_code, dong_name
        FROM dongcodes
        WHERE dong_name IS NOT NULL
        AND sido_name = "세종특별자치시") dc,
        area_location al
        WHERE
        al.si = "세종특별자치시"
        AND al.gu = #{gu}
        AND al.latitude IS NOT NULL
        AND al.longitude IS NOT NULL
        AND (
        (CHAR_LENGTH(dc.dong_name) > 2 AND al.dong LIKE CONCAT(LEFT(dc.dong_name, 2), '%', RIGHT(dc.dong_name, 1)))
        OR
        (CHAR_LENGTH(dc.dong_name) &lt;= 2 AND al.dong LIKE CONCAT(LEFT(dc.dong_name, 1), '%', RIGHT(dc.dong_name, 1)))
        )
        GROUP BY
            al.dong;
    </select>

    <select id="findGuNames" resultType="com.homeseek.map.dto.GuDto">
        SELECT
            al.gu AS guName,
            dc.dong_code AS dongCode,
            al.latitude AS latitude,
            al.longitude AS longitude
        FROM
            (SELECT dong_code, gugun_name
             FROM dongcodes
             WHERE gugun_name IS NOT NULL
               AND dong_name IS NULL
               AND sido_name = #{si}) dc,
            area_location al
        WHERE
            al.si = #{si}
          AND dc.gugun_name = al.gu
          AND al.dong = ""
          AND al.latitude IS NOT NULL
          AND al.longitude IS NOT NULL;
    </select>

    <select id="findGuNamesSe" resultType="com.homeseek.map.dto.GuDto">
        SELECT
            al.gu AS guName,
            dc.dong_code AS dongCode,
            al.latitude AS latitude,
            al.longitude AS longitude
        FROM
            (SELECT dong_code, dong_name
             FROM dongcodes
             WHERE gugun_name IS NOT NULL
               AND (CHAR_LENGTH(dong_name) = 3 OR CHAR_LENGTH(dong_name) = 4)
               AND sido_name = "세종특별자치시") dc,
            area_location al
        WHERE
            al.si = "세종특별자치시"
          AND dc.dong_name = al.gu
          AND al.dong = ""
          AND al.latitude IS NOT NULL
          AND al.longitude IS NOT NULL;
    </select>

    <select id="findSiNames" resultType="com.homeseek.map.dto.SiDto">
        SELECT
            al.si AS siName,
            dc.dong_code AS dongCode,
            al.latitude AS latitude,
            al.longitude AS longitude
        FROM
            (SELECT dong_code, sido_name
             FROM dongcodes
             WHERE sido_name IS NOT NULL
               AND gugun_name IS NULL
               AND dong_name IS NULL) dc,
            area_location al
        WHERE
            dc.sido_name = al.si
          AND al.gu = ""
          AND al.dong = ""
          AND al.latitude IS NOT NULL
          AND al.longitude IS NOT NULL;
    </select>

    <select id="findSiNamesSe" resultType="com.homeseek.map.dto.SiDto">
        SELECT
            al.si AS siName,
            dc.dong_code AS dongCode,
            al.latitude AS latitude,
            al.longitude AS longitude
        FROM
            (SELECT dong_code, sido_name
             FROM dongcodes
             WHERE sido_name IS NOT NULL
               AND sido_name = "세종특별자치시"
               AND dong_name IS NULL) dc,
            area_location al
        WHERE
            dc.sido_name = al.si
          AND al.si = "세종특별자치시"
          AND al.gu = ""
          AND al.dong = ""
          AND al.latitude IS NOT NULL
          AND al.longitude IS NOT NULL;
    </select>

    <select id="findToggleEstateBySi" resultType="com.homeseek.map.dto.ToggleEstateDto">
        SELECT
            hi.apt_nm AS aptName,
            hi.latitude AS latitude,
            hi.longitude AS longitude
        FROM
            houseinfos hi
        WHERE hi.latitude IS NOT NULL
          AND hi.longitude IS NOT NULL
        AND LEFT(hi.sgg_cd, 2) = LEFT(#{code}, 2)
    </select>

    <select id="findToggleEstateByGu" resultType="com.homeseek.map.dto.ToggleEstateDto">
        SELECT
            hi.apt_nm AS aptName,
            dc.sido_name AS si,
            dc.gugun_name AS gu,
            hi.latitude AS latitude,
            hi.longitude AS longitude
        FROM
            houseinfos hi, (select sido_name, gugun_name from dongcodes where dong_code = #{code}) dc
        WHERE
            hi.sgg_cd = LEFT(#{code}, 5)
          AND hi.latitude IS NOT NULL
          AND hi.longitude IS NOT NULL;
    </select>

    <select id="findToggleEstateByDong" resultType="com.homeseek.map.dto.ToggleEstateDto">
        SELECT
            hi.apt_nm AS aptName,
            dc.sido_name AS si,
            dc.gugun_name AS gu,
            hi.latitude AS latitude,
            hi.longitude AS longitude
        FROM
            houseinfos hi, (select sido_name, gugun_name from dongcodes where dong_code = #{code}) dc
        WHERE
            CONCAT(hi.sgg_cd, hi.umd_cd) = #{code}
          AND hi.latitude IS NOT NULL
          AND hi.longitude IS NOT NULL;
    </select>

    <select id="getHospitals" resultType="com.homeseek.map.dto.HospitalDto">
        SELECT
            id AS id,
            hospital_name AS name,
            category AS category,
            address AS address,
            tel AS tel,
            CAST(latitude AS CHAR) AS latitude,
            CAST(longitude AS CHAR) AS longitude
        FROM hospital
    </select>

    <select id="getMarkets" resultType="com.homeseek.map.dto.MarketDto">
        SELECT
            id AS id,
            market_name AS name,
            category AS category,
            address AS address,
            CAST(latitude AS CHAR) AS latitude,
            CAST(longitude AS CHAR) AS longitude
        FROM market
    </select>

    <select id="getSubways" resultType="com.homeseek.map.dto.SubwayDto">
        SELECT
            id AS id,
            line AS line,
            station_name AS name,
            CAST(latitude AS CHAR) AS latitude,
            CAST(longitude AS CHAR) AS longitude
        FROM subway_station
    </select>
</mapper>
